# **[PROJECT]**
_(Add your project description here)_

## Usage
To run this project, run the `build` script followed by the `start` script.
[PLACEHOLDER]
Alternatively, run the `dev` to enable live loading (via tsc-watch)
[PLACEHOLDER_2]

## Versions
View all versions of in the <a href="/CHANGELOG.md">CHANGELOG.md</a>

## License
This project is licensed under the MIT License - see the <a href="/LICENSE.md">LICENSE.md</a> file for details